h1 {
    color: blue;
}

h1:hover {
    color: greenyellow;
}

p:active {
    background-color: grey;
}

a {
    color: orange;
}

a:visited {
    color: lightgray;
}

img:hover {
    display: none;
    opacity: 0%;
    /*a faire si le display ne marche pas*/
}