body {
    background-color: lightblue;
}
header {
    text-align: center;
    margin-bottom: 2vh;
    div img {
        width: 100%;
    }
}
article{
    text-align: center;
    border: solid 1px black;
    width: 80%;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color: whitesmoke;
}

footer nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
footer nav ul li a{
    padding: 1vh 1vw;
    background-color:black;
    color: white;
    text-decoration: none;
}
main nav ul li a {
    text-align: center;
    padding: 1vh 1vw;
    background-color:black;
    color: white;
    text-decoration: none;
    

}
main nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    border: 1px solid black;
    background-color: whitesmoke;
}
main {
    display: flex;
}
main nav {
    border: solid black 1px;
    background-color: whitesmoke;
    display: flex;
}