div:nth-child(1) img:hover, img:active {
    transform: scale(2);
    transition-duration: 1s;
}
div:nth-child(1) img:active {
    transform-origin: 50% 50%;
    transform: rotate(0.5turn) scale(2);
}
div:nth-child(1) img {
    transition-duration: 1s;
    margin-left: 800px;
    margin-top: 150px;
}

div:nth-child(2) img:hover {
    transition-duration: 1s;
    transform-origin: 50% 50%;
    transform: skewX(40deg);
}
div:nth-child(2) img {
    transition-duration: 1s;
    margin-top: 150px;
    margin-left: 800px;
}
div:nth-child(2) img:active {
    transition-duration: 1s;
    transform-origin: 50% 50%;
    transform: translateX(200px) skewX(40deg);
}
div:nth-child(3) {
    width: 400px;
    height: 200px;
    margin-top: 50px;
    margin-left: 700px;
}
div:nth-child(3) p{
    transform: scale(0.5) translateX(20px) rotate(35deg) skewY(10deg);
}
div:nth-child(4) {
    margin-left: 800px;
    width: 200px;
    height: 200px;
    border: black solid 1px;
    background-color: whitesmoke;
    transition-duration: 5s;
}
div:nth-child(4):hover {
    background-color: lightpink;
}